.error-message {
  max-width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  color: #ff0000;
  margin-bottom: 13px;
}
.message-error:last-of-type {
  margin-bottom: 31px;
}
